/* Mobile devices max-width 768px responsive css */
@media (max-width: 768px) {
  .navbar,
  .hero-container {
    padding: 1rem 1rem;
    border-bottom: 1px solid #fea301;
  }
  .menu-icon {
    display: block;
  }

  .logo-title,
  .menu-items,
  .nav-btn {
    display: none;
  }
  /* hero section responsive css */
  .hero-container {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .hero-content {
    text-align: center;
    width: 100%;
  }
  .hero-title {
    font-size: 2rem;
  }
  .hero-description {
    font-size: 14px;
  }
  .hero-img {
    width: 100%;
  }
}
