* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font family */
/* all title font */
h1,
h2,
h3,
h4,
h5,
h6,
button,
body {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* all paragraph font */
p {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* container css */
.container {
  max-width: 1440px;
  margin: 0 auto;
}
section {
  padding: 6rem 0px;
}
ul > li {
  list-style: none;
}
.btn-primary {
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 12px;
  background: #fea301;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* navbar css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0px;
}
.logo,
.logo,
.logo-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  font-weight: 700;
}
.menu-items {
  display: flex;
  justify-content: center;
}
.menu-items > li {
  margin-left: 5rem;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
}
.menu-icon {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: none;
}
.home {
  color: #fea301;
  font-weight: 700 !important;
}
.about {
  color: #01acfd;
}
.facilities {
  color: #05d4df;
}
.admission {
  color: #5d58ef;
}

/* Hero section css */
.hero-container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
}
.hero-content {
  width: 640px;
}
.hero-title {
  color: #111;
  font-family: Quicksand;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
}
.empowering {
  color: #fea301;
}
.towards {
  color: #01acfd;
}
.horo-description {
  padding: 2rem 0px;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #111111;
}
.hero-btn {
  background: #111;
}

/* curriculum section css */
.curriculum-container {
  background-image: url("/assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.curriculum-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  text-align: center;
}
.curriculum-title {
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  /* line-height: 57.5px; */
  padding: 6rem 0px;
}
.curriculum-item {
  width: 367.805px;
  height: 476.784px;
  padding: 3.301rem 2.542rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32.069px;
  flex-shrink: 0;
  border-radius: 18.864px;
}
.curriculum-item img {
  width: 100px;
  height: 6rem;
}
.curriculum-item1 {
  border-radius: 18.864px;
  border: 0.943px solid #def5ff;
  background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.curriculum-item2 {
  border-radius: 18.864px;
  border: 0.943px solid #fff4dc;
  background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.curriculum-item3 {
  border-radius: 18.864px;
  border: 0.943px solid #f2e8ff;
  background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.curriculum-item1 a {
  color: #64c8ff;
  text-align: center;
  font-family: Quicksand;
  font-size: 15.091px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.296px; /* 187.5% */
  text-decoration: none;
}

.curriculum-item2 a {
  color: #fea301;
  text-align: center;
  font-family: Quicksand;
  font-size: 15.091px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.296px; /* 187.5% */
  text-decoration: none;
}
.curriculum-item3 a {
  color: #5d58ef;
  text-align: center;
  font-family: Quicksand;
  font-size: 15.091px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.296px; /* 187.5% */
  text-decoration: none;
}

.curriculum-item > h4 {
  color: #202020;
  text-align: center;
  font-family: Quicksand;
  font-size: 24.523px;
  font-style: normal;
  font-weight: 700;
}
.curriculum-item > p {
  color: #808080;
  padding: 2rem 0px;
  text-align: center;
  font-family: Raleway;
  font-size: 15.091px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.296px;
}
/* Arrow button icon css */
.arrow-icon {
  padding: 2rem 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.arrow {
  width: 3rem;
  height: 3rem;
  padding: 0.6rem;
  cursor: pointer;
  background-color: #fea301;
  border-radius: 50%;
  color: white;
  border: none;
}
/* Our stories section css */
.our-stories-container {
  background-image: linear-gradient(
      to top,
      rgba(254, 163, 1, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 100%
    ),
    url("/assets/bg.png");
  /* width: 80%;
  height: 400px; */
  background-size: cover;
  color: white;
  padding: 20px;

  /* background: url("/assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem 0px; */
}

.stories-title {
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  padding: 3rem 0px;
}
.stories-item1 {
  grid-area: stories-item1;
}
.stories-item2 {
  grid-area: stories-item2;
}
.stories-item3 {
  grid-area: stories-item3;
}
.stories-item4 {
  grid-area: stories-item4;
}
.stories-item5 {
  grid-area: stories-item5;
}
.stories-item6 {
  grid-area: stories-item6;
}
.stories-item7 {
  grid-area: stories-item7;
}
.stories-items {
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-areas:
    "stories-item1 stories-item1 stories-item2 stories-item3 "
    "stories-item1 stories-item1 stories-item4 stories-item5 "
    "stories-item1 stories-item1 stories-item6 stories-item7 ";
}
.stories-item {
  border-radius: 1rem;
  padding-bottom: 2rem;
  width: 100%;
}
/* date btn css */
.stories-item1 {
  position: relative;
}
.date-btn-primay {
  background: #3cd8e8;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  position: absolute;
  top: 50%;
  left: 20px;
}
.stories-item2,
.stories-item3,
.stories-item4,
.stories-item5,
.stories-item6,
.stories-item7 {
  position: relative;
}
.cart-btn {
  background: #fea301;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  position: absolute;
  top: 60%;
  left: 20px;
}
.stories-item2 button {
  top: 65%;
  background: #95b226;
}
.stories-item3 button {
  top: 65%;
  background: #5d58f0;
}
.stories-item4 button {
  top: 65%;
  background: #95b226;
}
.stories-item5 button {
  top: 65%;
  background: #95b226;
}
.stories-item6 button {
  top: 65%;
  background: #01acfd;
}
.stories-item7 button {
  top: 65%;
  background: #01acfd;
}
.stories-item h3 {
  color: #000;
  font-family: Quicksand;
  font-size: 15.339px;
  font-weight: 700;
  margin-top: 1rem;
  padding: 1rem 2rem;
}
.stories-item img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}
.stories-item1 {
  /* width: 540.267px; */
  height: auto;
  background: white;
  /* box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset; */
}
.stories-item {
  background: white;
  width: 100%;
  /* box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset; */
}

.stories-item6,
.stories-item7 {
  display: none;
}
.stories-item-title1 {
  padding: 2rem 2rem;
  color: #000;
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.stories-item-description1 {
  padding: 1rem 2rem;
  color: #666;
  font-family: Raleway;
  font-size: 15.339px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.761px; /* 187.5% */
}

.stories-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0px;
}
.stories-btn {
  background: black;
  color: white;
}

/* Footer Section css */
footer {
  background: #01acfd;
  color: white;
  height: 100%;
  text-align: left;
  padding: 2rem 0px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-item {
  width: 30%;
}
.footer-item h2 {
  color: #fff;
  font-family: Quicksand;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  padding: 2rem 0px;
}
.footer-logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.footer-logo img {
  width: 82.902px;
  height: 81.652px;
}
.footer-logo-title {
  color: #fff;
  font-family: Quicksand;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  padding: 2rem 0px;
}
.footer-description {
  color: #fff;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-item ul li {
  color: #fff;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding-bottom: 0.8rem;
  cursor: pointer;
}
.social-icons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.social-icons img {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
